.testimonial-videos {

  margin-top: 80px;

}

.testimonial-heading {

  text-align: center;

  margin-bottom: 50px;

}

.testimonial-heading p {

  color: #9a7b4f;

  font-weight: 600;

  letter-spacing: 2px;

  margin-bottom: 10px;

}

.testimonial-heading h2 {

  font-size: 42px;

  color: #1f2937;

}

.testimonial-grid {

  display: flex;

  flex-direction: column;
justify-content: center;
  gap: 50px;

}

.testimonial-item {

  background: var(--matcha-green);

  border-radius: 25px;

  padding: 30px;

  display: flex;

  align-items: center;

  gap: 30px;

  width: 100%;

}

.video-box {

  width: 280px;

  flex-shrink: 0;

}

.video-box video {

  width: 100%;

  height: 500px;

  object-fit: contain;

  background: #000;

  border-radius: 20px;

}

.review-box {

  width: 75%;
  height: 75%;

  background: #fffaf2;

  padding: 30px;

  border-radius: 20px;

}

.stars {

  margin-bottom: 15px;

  font-size: 18px;

}

.review-box h4 {

  color: #9a7b4f;

  margin-bottom: 10px;

}

.review-box p {

  color: #555;

  line-height: 1.7;

  margin-bottom: 15px;

}

.review-box span {

  font-weight: 600;

  color: #222;

}

@media (max-width: 1200px) {

  .testimonial-grid {

    grid-template-columns: 1fr;

  }

}

@media (max-width: 768px) {

  .testimonial-item {

    flex-direction: column;

  }

  .video-box {

    width: 100%;

  }

  .video-box video {

    height: 250px;

  }

  .review-box {

    width: 100%;

    min-height: auto;

  }

}