:root{
  --primary-green: #44624a;
  --soft-cream: #D8CFB7;
  --light-sage: #C0C3B9;
  --off-white: #F3EFE3;
  --dark-text: #2d2d2d;
  --matcha-green: #769382;

  --desktop: 1200px;
  --tablet: 768px;
  --mobile: 480px;
  --title-font: 'Caudex', serif;
  --para-font: "Google Sans Flex", sans-serif
}