.navbar{
  width:100%;
  background:var(--primary-green);
  position:sticky;
  top:0;
  z-index:1000;
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.navbar-container{
  width:90%;
  margin:auto;
  min-height:90px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  position:relative;
}

/* ========================= */
/* Brand Section */
/* ========================= */

.brand{
  display:flex;
  align-items:center;
  gap:14px;
}

.logo-image img{
  width:178px;
  height:178px;
  object-fit:contain;
}

.logo{
  display:flex;
  flex-direction:column;
}

.logo a{
  font-size:clamp(24px, 2vw, 38px);
  font-family:'Google Sans Flex', sans-serif;
  font-weight:700;
  color:#F3EFE3;
  line-height:1;
  letter-spacing:1px;
  white-space:nowrap;
  text-transform:uppercase;
}

.logo p{
  font-size:11px;
  color:#F3EFE3;
  margin-top:6px;
  letter-spacing:1.5px;
  text-transform:uppercase;
  opacity:0.9;
  font-weight:bold;
  text-align: center;
}

/* ========================= */
/* Nav Links */
/* ========================= */

.nav-links{
  display:flex;
  align-items:center;
  gap:28px;
}

.nav-links li{
  position:relative;
}

.nav-links li a,
.nav-links li span{
  font-size:16px;
  color:#F3EFE3;
  cursor:pointer;
  transition:0.3s;
  font-weight:600;
  white-space:nowrap;
  text-transform:uppercase;
}

.nav-links li a:hover,
.nav-links li span:hover{
  color:#D8CFB7;
}

/* ========================= */
/* Dropdown */
/* ========================= */

.dropdown-menu{
  position:absolute;
  top:40px;
  left:0;

  background:#ffffff;
  min-width:220px;

  border-radius:10px;
  overflow:hidden;

  box-shadow:0 5px 15px rgba(0,0,0,0.1);

  display:none;
  flex-direction:column;
}

.dropdown-menu a{
  padding:14px 18px;
  color:#2d2d2d !important;
  transition:0.3s;
  font-size:15px !important;
}

.dropdown-menu a:hover{
  background:var(--secondary-green);
  color:white !important;
}

.dropdown:hover .dropdown-menu{
  display:flex;
}

/* ========================= */
/* Appointment Button */
/* ========================= */

.appointment-btn{
  background:#F3EFE3;
  color:var(--primary-green) !important;
  padding:12px 20px;
  border-radius:8px;
  font-weight:700;
}

.appointment-btn:hover{
  background:#D8CFB7;
}

/* ========================= */
/* Menu Icon */
/* ========================= */

.menu-icon{
  display:none;
  font-size:26px;
  cursor:pointer;
  color:#F3EFE3;
}

/* ========================= */
/* Medium Desktop */
/* ========================= */

@media screen and (max-width:1250px){

  .nav-links{
    gap:18px;
  }

  .nav-links li a,
  .nav-links li span{
    font-size:14px;
  }

  .appointment-btn{
    padding:10px 16px;
  }
}

/* ========================= */
/* Tablet + Mobile */
/* ========================= */

@media screen and (max-width:1100px){

  .navbar-container{
    min-height:85px;
  }

  /* Hamburger */

  .menu-icon{
    display:block;
    z-index:1100;
  }

  /* Brand */

  .brand{
    display:flex;
    align-items:center;
    gap:10px;
  }

  .logo-image img{
    width:108px;
    height:108px;
    
  }

  .logo a{
    font-size:26px;
  }

  .logo p{
    font-size:10px;
    letter-spacing:1px;
  }

  /* Slide Menu */

  .nav-links{
    position:fixed;

    top:108px;
    left:-100%;

    width:100%;
    height:calc(100vh - 108px);

    background:var(--primary-green);

    flex-direction:column;
    align-items:flex-start;

    padding:40px 30px;

    transition:0.4s ease;

    gap:28px;

    overflow-y:auto;
  }

  .nav-links.active{
    left:0;
  }

  .nav-links li{
    width:100%;
  }

  .nav-links li a,
  .nav-links li span{
    font-size:20px;
  }

  /* Dropdown */

  .dropdown{
    width:100%;
  }

  .dropdown-menu{
    position:relative;

    top:12px;

    width:100%;

    background:#0F3B35;

    border-radius:8px;

    box-shadow:none;

    margin-top:10px;

    overflow:hidden;
  }

  .dropdown-menu a{
    padding:14px 16px;
    color:#F3EFE3 !important;
    font-size:16px !important;
  }

  .dropdown-menu a:hover{
    background:#4E8B67;
  }

  /* Appointment Button */

  .appointment-btn{
    display:inline-block;
    margin-top:10px;
  }
}

/* ========================= */
/* Mobile */
/* ========================= */

@media screen and (max-width:600px){

  .navbar-container{
    min-height:75px;
  }

  .logo-image img{
    width:108px;
    height:108px;
    
  }

  .logo a{
    font-size:24px;
  }
.logo p{
    font-size: 10px;
}

  .menu-icon{
    font-size:24px;
  }

  .nav-links{
    top:108px;
    height:calc(100vh - 108px);

    padding:30px 20px;
  }

  .nav-links li a,
  .nav-links li span{
    font-size:18px;
  }
}