.navbar{
  width:100%;

  background:#7D9888;

  position:sticky;
  top:0;

  z-index:1000;

  box-shadow:
  0 2px 10px rgba(0,0,0,.06);

  border-bottom:
  1px solid rgba(255,255,255,.08);

  backdrop-filter:blur(10px);
}

.navbar-container{
  width:90%;
  margin:auto;

  min-height:90px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  position:relative;
}

/* ====================== */
/* Brand */
/* ====================== */

.brand{
  display:flex;
  align-items:center;
  gap:14px;
}

.logo-image img{
  width:150px;
  height:150px;

  object-fit:contain;
}

.logo{
  display:flex;
  flex-direction:column;
}

.logo a{

  font-size:clamp(30px,3vw,48px);

  font-family:"Great Vibes", cursive;

  font-weight:bold;

  color:#F3EFE3;

  text-decoration:none;
letter-spacing: 2px;
  line-height:1;

  white-space:nowrap;
}

.logo p{

  margin-top:6px;

  color:#F3EFE3;

  font-size:11px;

  letter-spacing:1.5px;

  font-weight:bold;

  text-transform:uppercase;
}

/* ====================== */
/* Nav */
/* ====================== */

.nav-links{

  display:flex;

  align-items:center;

  gap:28px;

  list-style:none;
}

.nav-links li{

  position:relative;
}

.nav-links li a,
.nav-links li span{

  color:#F3EFE3;

  font-size:15px;

  font-weight:600;

  cursor:pointer;

  text-transform:uppercase;

  transition:.3s;

  text-decoration:none;
}

.nav-links li a:hover,
.nav-links li span:hover{

  opacity:.75;
}

/* ====================== */
/* Dropdown */
/* ====================== */

.dropdown-menu{

  position:absolute;

  top:20px;
  left:0px;

  min-width:220px;

  background:#fff;

  border-radius:12px;

  display:none;

  flex-direction:column;

  overflow:hidden;

  box-shadow:
  0 10px 25px rgba(0,0,0,.1);

  z-index:99999;
}

.dropdown-menu a{

  padding:14px 18px;

  color:#022B26 !important;

  transition:.3s;
}

.dropdown-menu a:hover{

  background:#D8CFB7;
}

.dropdown:hover .dropdown-menu{

  display:flex;
}

/* ====================== */
/* Appointment */
/* ====================== */

.appointment-btn{

  background:#F3EFE3;

  color:#4D665A !important;

  padding:12px 20px;

  border-radius:10px;

  font-weight:700;
}

.appointment-btn:hover{

  background:#D8CFB7;
}

/* ====================== */
/* Menu Icon */
/* ====================== */

.menu-icon{

  display:none;

  color:#fff;

  cursor:pointer;
}

/* ====================== */
/* Medium Desktop */
/* ====================== */

@media screen and (max-width:1250px){

.nav-links{

gap:18px;
}

.nav-links li a,
.nav-links li span{

font-size:14px;
}

}

/* ====================== */
/* Tablet */
/* ====================== */

@media screen and (max-width:1100px){

.navbar-container{

min-height:130px;
}

.menu-icon{

display:block;

position:absolute;

right:0;

top:50%;

transform:translateY(-50%);

font-size:30px;

z-index:99999;
}

.logo-image img{

width:100px;
height:100px;
}

.logo a{

font-size:38px;
}

.logo p{

font-size:8px;
}

.nav-links{

position:fixed;

top:130px;
left:-100%;

width:100%;

height:calc(100vh - 130px);

background:#7D9888;

padding:40px 30px;

display:flex;

flex-direction:column;

align-items:flex-start;

gap:25px;

transition:.4s;

overflow-y:auto;
}

.nav-links.active{

left:0;
}

.nav-links li{

width:100%;
}

.nav-links li a,
.nav-links li span{

font-size:20px;
}

.dropdown{

width:100%;
}

.dropdown-menu{

position:relative;

top:10px;

width:100%;

box-shadow:none;

background:#6F897A;
}

.dropdown-menu a{

color:#fff !important;
}
}

/* ====================== */
/* Mobile */
/* ====================== */

@media screen and (max-width:768px){

body{

overflow-x:hidden;
}

.navbar-container{

width:92%;

min-height:170px;

justify-content:space-between;

position:relative;
}

/* center brand */

.brand{

width:100%;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:3px;
}

.logo-image img{

width:100px;
height:100px;
}

.logo{

align-items:center;
}

.logo a{

font-size:26px;

white-space:normal;

text-align:center;

line-height:1.1;
}

.logo p{

font-size:9px;

text-align:center;

letter-spacing:1px;
}

.menu-icon{

display:block;

position:absolute;

right:10px;

/* top:30px; */

font-size:28px;

z-index:99999;
}

.nav-links{

top:170px;

height:calc(100vh - 170px);

padding:30px 20px;

overflow-x:hidden;
}

.nav-links li a,
.nav-links li span{

font-size:18px;
}
}