.navbar {
  width: 100%;
  background: var(--matcha-green);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbar-container {
  width: 90%;
  margin: auto;
  min-height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

/* ========================= */
/* Brand Section */
/* ========================= */

.brand {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-image img {
  width: 159px;
  height: 169px;
  object-fit: contain;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo a {
  font-size: clamp(24px, 2vw, 38px);
  font-family:var(--title-font);
  font-weight: bold;
  color: #f3efe3;
  line-height: 1;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;

}

.logo p {
  font-size: 11px;
  color: #f3efe3;
  margin-top: 6px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 0.9;
  font-weight: bold;
}

/* ========================= */
/* Nav Links */
/* ========================= */

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links li {
  position: relative;
}

.nav-links li a,
.nav-links li span {
  font-size: 16px;
  color: #f3efe3;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
}

.nav-links li a:hover,
.nav-links li span:hover {
  color: #d8cfb7;
}

/* ========================= */
/* Dropdown */
/* ========================= */

.dropdown-menu {
  position: absolute;
  top: 20px;
  left: 0;

  background: #ffffff;
  min-width: 220px;

  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  display: none;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 14px 18px;
  color: #2d2d2d !important;
  transition: 0.3s;
  font-size: 15px !important;
}

.dropdown-menu a:hover {
  background: var(--secondary-green);
  color: black !important;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

/* ========================= */
/* Appointment Button */
/* ========================= */

.appointment-btn {
  background: #f3efe3;
  color: var(--primary-green) !important;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 700;
}

.appointment-btn:hover {
  background: #d8cfb7;
}

/* ========================= */
/* Menu Icon */
/* ========================= */

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #f3efe3;
}

/* ========================= */
/* Medium Desktop */
/* ========================= */

@media screen and (max-width: 1250px) {
  .nav-links {
    gap: 18px;
  }

  .nav-links li a,
  .nav-links li span {
    font-size: 14px;
  }

  .appointment-btn {
    padding: 10px 16px;
  }
}

/* ========================= */
/* Tablet */
/* ========================= */

@media screen and (max-width: 1100px) {
  .navbar-container {
    min-height: 85px;
  }

  .menu-icon {
    display: block;
    z-index: 1100;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-image img {
    width: 60px;
    height: 60px;
  }

  .logo a {
    font-size: 24px;
  }

  .logo p {
    font-size: 8px;
    letter-spacing: 1px;
  }

  .nav-links {
    position: fixed;

    top: 85px;
    left: -100%;

    width: 100%;
    height: calc(100vh - 85px);

    background: var(--primary-green);

    flex-direction: column;
    align-items: flex-start;

    padding: 40px 30px;

    transition: 0.4s ease;

    gap: 28px;

    overflow-y: auto;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a,
  .nav-links li span {
    font-size: 20px;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-menu {
    position: relative;

    top: 12px;

    width: 100%;

    background: #0f3b35;

    border-radius: 8px;

    box-shadow: none;

    margin-top: 10px;

    overflow: hidden;
  }

  .dropdown-menu a {
    padding: 14px 16px;
    color: #f3efe3 !important;
    font-size: 16px !important;
  }

  .dropdown-menu a:hover {
    background: #4e8b67;
  }

  .appointment-btn {
    display: inline-block;
    margin-top: 10px;
  }
}

/* ========================= */
/* Mobile */
/* ========================= */

@media screen and (max-width: 768px) {
  .navbar-container {
    min-height: 165px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Brand Center */

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4px;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }

  /* Logo */

  .logo-image img {
    width: 108px;
    height: 108px;
    object-fit: contain;
  }

  /* Title */

  .logo {
    align-items: center;
  }

  .logo a {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
  }

  /* Hide tagline */

  .logo p {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
  }

  /* Hamburger */

  .menu-icon {
    display: block;

    position: absolute;
    right: 0;

    font-size: 24px;

    color: #f3efe3;

    cursor: pointer;
  }

  /* Mobile Menu */

  .nav-links {
    top: 165px;
    height: calc(100vh - 165px);
    padding: 30px 20px;
    text-align: center;
    gap: 24px;
  }

  .nav-links li a,
  .nav-links li span {
    font-size: 18px;
  }

  .dropdown-menu a {
    font-size: 15px !important;
  }
}
