.splash-screen{
  position:fixed;

  top:0;
  left:0;

  width:100%;
  height:100vh;

  background:#112621;

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:99999;

  animation:fadeOut 1s ease forwards;

  animation-delay:4s;
}

.splash-content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  text-align:center;
}

/* ========================= */
/* Video */
/* ========================= */

.splash-video{
  width:260px;
  height:260px;

  object-fit:contain;

  border-radius:24px;
}

/* ========================= */
/* Text */
/* ========================= */

.splash-content h1{
  margin-top:28px;

  color:#F3EFE3;

  font-size:clamp(42px, 5vw, 82px);

  line-height:1.05;

  font-family:"Cormorant Garamond", serif;

  font-weight:bold;

  letter-spacing:1px;
}

/* ========================= */
/* Fade Animation */
/* ========================= */

@keyframes fadeOut{

  to{
    opacity:0;
    visibility:hidden;
  }
}

/* ========================= */
/* Tablet */
/* ========================= */

@media screen and (max-width:768px){

  .splash-video{
    width:290px;
    height:290px;
  }

  .splash-content h1{
    font-size:54px;
  }
}

/* ========================= */
/* Mobile */
/* ========================= */

@media screen and (max-width:480px){

  .splash-video{
    width:150px;
    height:150px;
  }

  .splash-content h1{
    font-size:28px;
  }
}